#include <windows.h>
1 RT_MANIFEST "app.manifest"
1 VERSIONINFO
FILEVERSION 0,8,0,0
PRODUCTVERSION 0,8,0,0
FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904b0"
  BEGIN
   VALUE "FileDescription", "380 Taxi Cam Windows companion\0"
   VALUE "FileVersion", "0.8.0\0"
   VALUE "ProductName", "380 Taxi Cam\0"
   VALUE "ProductVersion", "0.8.0\0"
   VALUE "OriginalFilename", "380-taxi-cam.exe\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
END
